
<label class="label"><%= t("activerecord.attributes.server.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @server.name %></p>

<label class="label"><%= t("activerecord.attributes.server.base_url", :default => t("activerecord.labels.base_url", :default => "Base url")) %>:</label>
<p><%= @server.base_url %></p>

<label class="label"><%= t("activerecord.attributes.server.version", :default => "Version") %>:</label>
<p><%= @server.version %></p>

<label class="label"><%= t("activerecord.attributes.server.metrics", :default => "Metrics") %>:</label>
<p>
<%= form_for @server, :url => url_for, :method => :get do |f| %>
  <%= select_tag :aggregator, options_for_select( ['avg', 'sum' ] ) %>
  <%= select_tag :metric, options_for_select(@server.suggest) %><br/>
  <%# text_field_tag :start, "", :placeholder => "Start" %>
  <%# text_field_tag :end, "", :placeholder => "End" %>
  <%= f.submit "Graph" %>
<% end -%>

<% if params[:metric] -%>
  <%= build_graph(@server, params[:metric], params[:aggregator], 2.hours.ago.getutc, Time.now.getutc) %>
<% end -%>
</p>

<div class="form-actions">
<%= link_to "Back", servers_path, :class => 'btn'  %>
<%= link_to "Edit", edit_server_path(@server), :class => 'btn' %>
<%= link_to "Delete", server_path(@server), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
