<h2><%= @report.name %></h2>

<p>
<div id="ts-graph">
<div class="axis"></div>
<% Array(@report.queries).each do |query| -%>
  <div class="horizon" data-metric-query="<%= query[:query] %>" data-metric-scale="<%= query[:scale] %>">
  </div>
<% end -%>
</div>
<%= form_for [@report, @report.metrics.build], :html => { :class => 'add-metric' } do |f| -%>
  <%= f.select :server_id, options_for_select(Server.all.map{ |s| [s.name, s.id] }) %>
  <%= number_field_tag :scale, 100, :style => "width: 75px", :min => 0, :step => 10 %>
  <%= f.submit "Add metric" %>
<% end -%>
</p>

<div class="form-actions">
<%= link_to "Back", servers_path, :class => 'btn'  %>
<%= link_to "Delete", report_path(@report), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
